<head>
<script type="text/javascript" src="/dependencies/sails.io.js"></script>
<script type="text/javascript">
  // The automatically-created socket is exposed as io.socket.
  // Use .on() to subscribe to the 'user' event on the client.
  // This event is sent by the Sails "create", "update",
  // "delete", "add" and "remove" blueprints to any socket that
  // is subscribed to one or more User model instances.
  io.socket.on('hello', function gotHelloMessage (data) {
    console.log('User alert!', data);
  });
  io.socket.on('hardware', function gotHelloMessage (data) {
    console.log('Hardware alert!', data);
    alert("Hardware");
  });
  // Using .get('/user') will retrieve a list of current User models,
  // subscribe this socket to those models, AND subscribe this socket
  // to notifications about new User models when they are created.
  io.socket.get('/dc/showDynamic', function gotResponse(body, response) {
    console.log('Current users: ', body);
  });
</script>
</head>
<body>
Hello Dynamic
</body>
